* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-menu li a {
    text-decoration: none;
    background: #659764;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    background: #74b9ff;
    transform: scale(1.1);
}

section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 15px;
}

h1.logo {
    padding-left: 20px;
    color: #352d36;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu a {
    color: rgb(23, 82, 5);
    text-decoration: none;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

article {
    background: rgb(125, 154, 125);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #342701;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

ul {
    margin-left: 20px;
}

.skill-container,
.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #342701;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #296927;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        gap: 10px;
    }

    .nav-menu {
        flex-direction: column;
    }

    .skill-container,
    .project-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {

    .skill-container,
    .project-container {
        grid-template-columns: 1fr;
    }

    body {
        font-size: 14px;
    }
}